<div>
    <app-view-name></app-view-name>
</div>


<div>
    <h1 >PersonaShare</h1>
</div>
<div>

</div>
<div>
    <p>
        PersonaShare is a web application that allows users to store their personal details on their device
        
        and share them with recruiters securely and easily.
        <br>
        <br>
        No more filling out forms, just share your PersonaShare profile.
    </p>
    <br><br>
    <p>Please Note: Because the application uses angular-in-memory-web-api, your information will be lost if you reload the page while logged out</p>
</div>